/* debug code */

/* body,.container, div, section, p, .btn, a{
    outline: 1px solid red;
} */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1240px!important;
    }
}
html {
  /* scroll-behavior: smooth; */
}
h1,h2,h3,h4{
    /* font-family: "Playfair Display"; */
}
.yt-logo{
    filter: brightness(0) invert(1);
    transition: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.yt-logo:hover{
    filter: unset;
}

.bg-dark{
    background-color: black!important;
    color:#eceaea!important;
}

nav.navbar.navbar-dark.bg-dark.fixed-top {
    background: #090909;
    box-shadow: 0 10px 15px rgba(19,19,19, 0.7);
    z-index: 100;
}
.pl, .di{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 9.5vw;
    font-size: min(8.5vw, 130px);
    /* font-size: 9.1vw; */
}
.di{
    font-size: 7vw;
    font-size: min(10.5vw,105px);
    /* font-size: 7.5vw; */
}
#headline{
  height: 70%;
  width: 90%;
  border-bottom: 1px solid #eceaea;
  margin:auto;
  /* font-weight: 600; */
  /* height: 600px; */
}
#byline{
  height: 30%;
  width: 90%;
  border-bottom: 1px solid #eceaea;
  margin:auto;
}
.s-title{
  display: none;
}
@media (max-width: 768px){
  .s-title{
    display: block;
  }
    .pl{
        font-size: 17.5vw;
    }
    .di{
        font-size: 11.5vw;
    }
}
.btn{
    position: relative;
    /* font-size: 1em; */
    line-height: 1.5em;
    width: fit-content;
    margin-left:0px;
    margin-right:auto;
    padding: 5px 5px;
    padding-bottom: 12px;
    /* font-weight: 700; */
    /* font-size: 15px; */
    letter-spacing: 2px;
    color: #eceaea;
    border: 1px white solid;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    border-radius:0px;
}
.fill:hover {
    color: #6c0d11;
  }
  
  .fill:before {
    content: "";
    position: absolute;
    background: #eceaea;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  
  .fill:hover:before {
    top: 0;
  }
  
  .ba {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    width: 25px;
    color:#6c0d11;
    /* top: -300px; */
}
.ba-arrow-right:before {
    content: url(img/right.svg);
    position: relative;
    top: 6px;
    color:#6c0d11;
}
.ba-close:before {
    content: url(img/close.svg);
    position: relative;
    top: 6px;
    color:#6c0d11;
}
hr{
    /* background-color: #6c0d11; */
    background-color: #eceaea;
}
.lead small{
    color:teal;
    font-size: 60%!important;
}
.profiles .col-lg-4{
    padding:15px;
    /* outline: 1px solid #eceaea; */
    cursor:pointer;
}
.modal-content{
  box-shadow: 0px 0px 15px #fff;
  background-image: url(https://alg.leoafricainstitute.org/wp-content/uploads/2019/10/image_shape.png)!important;
}
.modal-body{
  background-image: url(https://alg.leoafricainstitute.org/wp-content/uploads/2019/10/image_shape.png)!important;

}

@media (min-width: 996px){
.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}
}
@media (min-width: 1200px){
.modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
}
}
/* @media (min-width: 1400px)
.modal-dialog {
    max-width: 1200px;
    margin: 1.75rem auto;
} */


#contributors{
  padding-top:100px;
  padding-bottom:100px;
  /* border-bottom: 1px #eceaea solid; */
}
#contributors .tcontainer{
  border-top:1px solid white;
  border-bottom:1px solid white;
}
#contributors h5{
  /* font-size: 42px;
  font-weight: 700; */
  /* font-style: italic; */
}
/* OUTER CONTAINER */
.tcontainer {
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}
 
/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
  /* background-color: #eee; */
}

/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 140s;
  padding: 40px 0;
}
.ticker-move:hover{
  animation-play-state: paused; /* Pause scroll on mouse hover */
}

/* ITEMS */
.ticker-item{
  font-size: 36px;
  font-weight: 700;
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
}
.ticker-item a{
  text-decoration: none;
  color:inherit;
}
.ticker-item:after {
    content: "|";
    margin-left: 2rem;
}
@media (max-width: 768px){
  .ticker-item{font-size:36px;}
  .ticker-move {animation-duration: 200s;}

}



.ts-footer {
    background-color: #6c0d11;
    padding-top: 100px;
    background-image: url(https://alg.leoafricainstitute.org/wp-content/uploads/2019/10/image_shape.png);
}
.ts-footer-social ul {
    padding: 0;
  }
  .ts-footer-social ul li {
    display: inline-block;
    list-style: none;
  }
  .ts-footer-social ul li a {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 1px solid #525164;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 7px 0;
    margin: 0 10px;
  }
  .ts-footer-social ul li a span {
    display: none;
  }
  .ts-footer-social ul li a:hover {
    background: #6c0d11;
    border-color: transparent;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .footer-menu {
    margin: 25px 0;
  }
  .footer-menu ul {
    margin: 0;
    padding: 0;
  }
  .footer-menu ul li {
    display: inline-block;
  }
  .footer-menu ul li a {
    color: #a8a8ad;
    margin: 0 20px;
    position: relative;
  }
  .footer-menu ul li a:before {
    position: absolute;
    left: -24px;
    top: 1px;
    bottom: 0;
    margin: auto;
    content: "";
    background: #5f5e6f;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
  }
  .footer-menu ul li a:hover {
    color: #e7015e;
  }
  .footer-menu ul li:first-child a:before {
    display: none;
  }
  
  .copyright-text p {
    margin-bottom: 0;
    color: #a8a8ad;
  }
  .speakder-designation{
    font-style: italic;
  }